:root {
  --content-width: 1200px;
}

@media screen and (max-width: 768px) {
  :root {
    --content-width: 94vw;
  }
}

.mokoto-orange {
  font-family: "mokoto";
  color: #e86105;
  font-weight: normal;
}
