:root {
  --content-width: 600px;
  background-color: #e8ebf740;
}

@media screen and (max-width: 768px) {
  :root {
    --content-width: 91.5vw;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --content-width: 94vw;
  }
}

@media screen and (max-width: 430px) {
  :root {
    --content-width: 95vw;
  }
}

.mokoto-orange {
  font-family: "mokoto";
  color: #e86105;
  font-weight: normal;
}
