:root {
  --content-width: 1200px;
}

@media screen and (max-width: 768px) {
  :root {
    --content-width: 92.5vw;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --content-width: 95vw;
  }
}

@media screen and (max-width: 430px) {
  :root {
    --content-width: 96vw;
  }
}

.mokoto-orange {
  font-family: "mokoto";
  color: #e86105;
  font-weight: normal;
}
